nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

footer {
  padding: 0 !important;
}

.opacityLower {
  opacity: 0.7;
}

.yagiz-nizipli {
  padding-top: 0 !important;
  margin-top: 100px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

.card-panel {
  margin-top: 50px !important;
}

.width-100 {
  width: 100%;
}

.footer-parallax-container {
  margin-top: -41px;
}

.dark-text {
  color: black;
}

.slider-container {
  position: absolute;
  top: 170px;
  left: 0;
  right: 0;
}

.slider-phone-container {
  position: absolute;
  top: 125px;
  left: 0;
  right: 0;
}

.slider-phone-container img, .slider-container img {
  height: 500px !important;
}

.contact-me-container {
  margin-bottom: 50px;
  margin-top: 50px;
}

.add-radius {
  border-radius: 5px;
}
